[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = CA
stateOrProvinceName         = Ontario
localityName               = Toronto
organizationName           = Otics Advanced Analytics, Inc.
commonName                 = Sebastian Maurice
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = tml.tss
DNS.2   = tml.tss2
